{{!-- <h1>Friend Finder</h1>

<h3>Find a Friend</h3> --}}

{{!-- <ul>
  {{#each friends}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Wish: {{this.wish}}</p>
  	</li>
  {{/each}}
</ul> --}}

{{!-- <div>
  <form action="/wishes/wish" method="POST">
  	<textarea type="text" name="wish"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div> --}}